@{
    ViewBag.Title = "Account is opened";
}

<div class="alert alert-success">
    <strong>Success!</strong> Account was opened!
</div>

<p>
    Check opened account number on your email or in the @Html.ActionLink("list of your accounts", "ShowAccounts").
</p>

