@{
    ViewBag.Title = "Account is opened";
}

<h2>Account was successfully opened!</h2>

<p>
    Check opened account number on your email or in the @Html.ActionLink("list of your accounts", "ShowAccounts").
</p>

